.container {
    display: inline;
    text-align: justify;
    display: flex;
    max-width: 1440px 100% ;
    justify-content: space-between;
    height: 20%;
}
.header-inner{
    width: 100%;
}
.header-top {
    display: flex;
}
.header-logo {
    width: 14%;
    width: 130px;
}
.header-lang {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.lang {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* Identical to box height */

    text-align: center;

    color: #1f1f1f;
}
h2 {
    margin-left: 100px;
    display: inline;

}
.social {
    display: inline;
    margin-left: 12px;
}
.phone {
    margin-left: 75px;
}

.header-social {
    display: inline;
    display: flex;
    width: 14%;
}
.header-phone {
display: inline;
font-size: 16px;
line-height: 21px;
text-align: center;
width: 14%;
}
.tours {
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 100px;
    background: #FFFFFF;
}
h1 {
    position: absolute;
    width: 145px;
    height: 20px;
    left: 882px;
    top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #373737;
}
.maistra {
   display: flex;
}
.header-tours {
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 100px;
    background: #FFFFFF;
    width: 14%;
}
h3 {
    display: flex;
    margin-left: 200px;
}
.header-maistra {
    display: inline;
    display: flex;
    justify-content: space-between;
    width: 14%;
}
.header-cash {
width: 14%;
}
h3 {
    width: 118px;
    height: 20px;
    left: 1147px;
    top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #373737;
}
.img {
 left: 26.63%;
right: 23.54%;
top: 40.82%;
bottom: 25.31%;
background: #FFFFFF;
}
.img3{
    position: absolute;
width: 55px;
height: 55px;
left: 1047px;
top: 23px;
background: #DD4053;
border-radius: 2px;
}
.img4 {
    position: absolute;
width: 55px;
height: 55px;
left: 1282px;
top: 23px;

background: #4AD295;
border-radius: 2px;
}
.img2 {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #FFFFFF;
}
.img5 {
    width: 100%;
    position: absolute;
    margin-top: 50px;
width: 1440px;
height: 60%;
left: 0px;
background: url(./maxresdefault\ \(1\)\ 2.png) no-repeat;
display: flex;
}
.price1 {
    position: absolute;
width: 205px;
height: 32px;
left: 222px;
top: 280px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
color: #FFFFFF;
}
.price2 {
    position: absolute;
width: 249px;
height: 45px;
left: 199px;
top: 274px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
}
.add {
    position: absolute;
width: 725px;
height: 102px;
left: 195px;
top: 335px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 55px;
/* or 122% */

text-transform: uppercase;

color: #FFFFFF;
}
h2 {
    position: absolute;
width: 99px;
height: 20px;
left: 286px;
top: 495px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;

position: absolute;
width: 99px;
height: 20px;
left: 286px;
top: 495px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;
color: #FFFFFF;
}
.rectangle1 {
    position: absolute;
    width: 1440px;
    height: 250px;
    left: 0px;
    top: 660px;
    background: #F8F8F8;
}
p {
    position: absolute;
width: 624px;
height: 72px;
left: 198px;
top: 570px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
/* or 120% */
color: #1D1D1D;
}

li {
    position: absolute;
width: 335px;
height: 28px;
left: 198px;
top: 777px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */


color: #777777;

}
.poslugy {
    position: absolute;
width: 370px;
height: 198px;
left: 949px;
top: 687px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 66px;
/* or 367% */


color: #3D3D3D;
}
.icons1 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 900px;
    top: 800px;
    font-style: normal;
    font-size: 16px;
    color: wheat;
    border: wheat 4px dashed;
    border-radius: 50px;
}
.text-icons1 {
position: absolute;
left: 150px;
top: 750px;
font-style: normal;
font-size: 16px;
color: wheat;
}
.icons2 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 900px;
    top: 950px;
    font-style: normal;
    font-size: 16px;
    color: wheat;
    border: wheat 4px dashed;
    border-radius: 50px
}
.icons3 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 900px;
    top: 880px;
    font-style: normal;
    font-size: 16px;
    color: wheat;
     border: wheat 4px dashed;
     border-radius: 50px;
}
.text-icons2 {
    left: 150px;
    top: 935px;
    font-style: normal;
    position: absolute;
    font-size: 16px;
    color: wheat;
}
.text-icons3 {
    left: 150px;
    position: absolute;
    top: 830px;
    font-style: normal;
    font-size: 16px;
    color: wheat;
}

h4 {
    width: 182px;
    height: 20px;
    left: 242px;
    top: 840px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border: 2px black solid;
    border-radius: 2px;
    background-color: gray;
    text-align: center;
    
    color: white;
}
h3 {
width: 122px;
height: 20px;
left: 548px;
top: 840px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
border: black 2px solid;
border-radius: 2px;
display: flex ;

color: #969696;
}