.container {
    width: 30%;
    display: inline;
    justify-content: space-between;
    display: flex;

}
.header-inner{
    width: 100%;
}
.header-top {
    display: flex;
}
.header-logo {
    width: 130px;
}
.header-lang {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.lang {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* Identical to box height */

    text-align: center;

    color: #1f1f1f;
}
h2 {
    margin-left: 100px;
    display: inline;

}
.social {
    display: inline;
    margin-left: 12px;
}
.phone {
    margin-left: 75px;
}

.header-social {
    display: inline;
    display: flex;
}
.header-phone {
display: inline;
font-size: 16px;
line-height: 21px;
text-align: center;
}
.tours {
    justify-content: center;
    margin-top: 350px;
    display: flex;
    text-align: center;
}
h1 {
    width: 240px;
    height: 55px;
    border-radius: 2px;
}
.maistra {
    width: 55px;
    height: 55px;
    background-color: red;
    border-radius: 2px solid red;
}